<header>
  <h1>About Oscar Party</h1>
</header>

<section>
  <p class="lead">
    Get ready for the Oscars by watching all the Best Picture nominees!
  </p>

  <p>
    Oscar Party is your companion app for preparing for Hollywood's biggest night.
    Keep track of which Best Picture nominees you've watched, discover the talented
    directors and actors behind each film, and make sure you're fully prepared to
    participate in the excitement of the Academy Awards.
  </p>

  <h2>Features</h2>
  <ul>
    <li>Browse all Best Picture nominees by year</li>
    <li>Track which films you've watched</li>
    <li>Explore filmographies of directors and actors</li>
    <li>See which films won versus were nominated</li>
    <li>Discover connections between films through cast and crew</li>
  </ul>

  <h2>Data Source</h2>
  <p>
    This product uses the TMDB API but is not endorsed or certified by TMDB.
  </p>
  <figure>
    <img src="/tmdb-logo.svg" alt="TMDB Logo" style="max-width: 200px;">
  </figure>
</section>
