<nav aria-label="breadcrumb">
  <ul>
    <li><a href="/">Home</a></li>
    <li>Actors</li>
  </ul>
</nav>

<article>
  <header>
    <h1>List of actors</h1>
  </header>

  <ul>
    <% @list_of_actors.each do |actor| %>
      <li>
        <a href="/actors/<%= actor.id %>">
          <img src="<%= actor.image %>" width="100">

          <%= "#{actor.last_name}, #{actor.first_name}" %>
        </a>
      </li>
    <% end %>
  </ul>

</article>
