<h1>Backdoor Admin Panel</h1>


<article>
  
  <header>
    <h2>Create Director</h2>
  </header>

  <form action="/backdoor/insert_director" method="post">
    <div>
      <label for="director_first_name_box">Director First Name</label>
      <input type="text" id="director_first_name_box" name="query_first_name">
    </div>

    <div>
      <label for="director_last_name_box">Director Last Name</label>
      <input type="text" id="director_last_name_box" name="query_last_name">
    </div>

    <button type="submit">
      Create Director
    </button>
  </form>

</article>
